* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    background-color: #ffffff;
}

.cursor {
    width: 30px;
    height: 50px;
    position: absolute;
    background: url(./r1.png);
    background-position: center !important;
    background-size: cover !important;
    animation: cursor 0.4s linear infinite;
    cursor: none;
    transform: translate(-50%,-50%);
}

@keyframes cursor {

    0%,
    100% {
        background: url(./r1.png);
    }

    16.7% {
        background: url(./r2.png);
    }

    33.4% {
        background: url(./r3.png);
    }

    50.1% {
        background: url(./r4.png);
    }

    66.8% {
        background: url(./r5.png);
    }

    83.5% {
        background: url(./r6.png);
    }
}

